.galleryContainer {
}
.galleryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  /* margin: 1rem 0; */
}
.galleryListContainer {
  /* display: flex; */

  width: 100%;
  border-radius: 8px;
  margin: 20px;
}
.galleryItems {
  & h3 {
    padding: 0.75rem 0;
    background-color: #e5e5e5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  & img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @media (width > 767px) {
      width: 100%;
    }
  }
}
