.section {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  @media (width > 767px) {
    padding: 2.5rem;
  }
}
.title {
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;
  text-align: left;

  @media (width > 767px) {
    font-size: 1.5rem;
  }
}
.facade,
.facadeMap {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}
.content {
  margin: 1rem 0;
  text-align: justify;
}
.contentMap {
  font-size: 1rem;
  font-weight: 700;

  @media (width > 767px) {
    font-size: 1.5rem;
  }
}
